<ion-tabs class="tabs-icon-top tabs-color-active-positive">

    <!-- 贝壳天地 -->
    <!--贝壳图标-->
    <ion-tab title="贝壳天地" icon-off="ion-ionic" icon-on="ion-ionic" href="#/tabs/community">
        <ion-nav-view animation="slide-left-right" name="tab-community"></ion-nav-view>
    </ion-tab>

    <!-- 活动中心 -->
    <ion-tab title="活动中心" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tabs/activity">
        <ion-nav-view animation="slide-left-right" name="tab-activity"></ion-nav-view>
    </ion-tab>

    <!-- 积分商城 -->
    <!--礼物图标-->
    <ion-tab title="积分商城" icon-off="ion-map" icon-on="ion-map" href="#/tabs/mall">
        <ion-nav-view animation="slide-left-right" name="tab-mall"></ion-nav-view>
    </ion-tab>

    <!-- 歌曲专辑 -->
    <!--音符图标-->
    <ion-tab title="歌曲专辑" icon-off="ion-ios-musical-notes" icon-on="ion-ios-musical-notes" href="#/tabs/album">
        <ion-nav-view animation="slide-left-right" name="tab-album"></ion-nav-view>
    </ion-tab>

    <!-- 纪念馆 -->
    <!--艾滋病条带图标/高德飞机-->
    <!--<ion-tab title="追忆贝娜" icon-off="ion-ios-paperplane-outline" icon-on="ion-ios-paperplane" href="#/tabs/memory">-->
    <ion-tab title="追忆贝娜" icon-off="ion-paper-airplane" icon-on="ion-paper-airplane" href="#/tabs/memory">
        <ion-nav-view animation="slide-left-right" name="tab-memory"></ion-nav-view>
    </ion-tab>

</ion-tabs>
